
mat-sidenav-container{
    flex:1 1 auto;

}
mat-sidenav{
    min-width: 300px;
}
.contenedor {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .padding{
    padding: 20px;
    overflow-x: hidden;

  }